/* css styles */

/* navbar */
.navbar-logo {
    max-height: 3em;
  }

/* .navbar-dark, .navbar[data-bs-theme=dark] {
  --bs-navbar-color: #6096B4;
  --bs-navbar-hover-color: #1c46a3;
  --bs-navbar-disabled-color: #6096B4;
  --bs-navbar-active-color: #1c46a3;
  --bs-navbar-brand-color: #6096B4;
  --bs-navbar-brand-hover-color: #6096B4;
  --bs-navbar-toggler-border-color: rgba(96, 150, 180, 0);
  --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%236096B4' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
} */

#navbarCollapse {
  padding-left: 2.5%
}

/* Apply reduced margins for figures (but only target div)
so caption is excluded */
div#fig-red-tees-desktop > figure.quarto-float-fig > div {
  /* Right now this only targets the red tees graphic.
  Find a way to make this only true for blogs */
  width: 90vw;
  position: relative;
  left: calc(-45vw + 50%);
}

div#fig-red-tees-mobile > figure.quarto-float-fig > div {
  /* Right now this only targets the red tees graphic.
  Find a way to make this only true for blogs */
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
}

div#fig-red-tees-mobile {
  display:none;
}

@media screen and (max-width: 991px) {
  div#fig-red-tees-desktop {
     display:none;
  }

  div#fig-red-tees-mobile {
     display:inline;
  }
}



.nav-item {
  font-size: 1.5em;
  font-weight: bold;
}

/* page content */
p.subtitle.lead {
  text-align: center;
}

#quarto-document-content {
  text-align: left;
}